@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<

<p>Use this area to provide additional information.</p>
<p>Aluno @ViewData["aluno"]</p>

<address>
    <strong>
            
        More information at: 
        <a href="www.google.com">TESTE</a>
    
    </strong>
</address>
